:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.hidden {
  position: absolute;
  top: -100%;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 'Montserrat', sans-serif;
  background: rgba(5, 36, 49, 1);
  color: #b1bdca;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/*----------header----------*/

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 777;
  padding-top: 10px;
  transition: 0.5s;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__body {
  position: relative;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  display: block;
}

.header__menu {
  margin-left: auto;
}

.header__list {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  z-index: 5;
}

.header__link {
  font-size: 1.6rem;
  line-height: 4rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem 4rem;
}

.nav-order {
  display: inline-block;
  background-color: #FF2E60;
  font-size: 1.6rem;
  line-height: 3.7rem;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 0px 20px;
  margin-left: 39px;
  z-index: 10;
}

/* Бургер */

.header__burger {
  display: none;
}



.bar-fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(5, 36, 49, 0.7);
  z-index: 999;
  animation: fixedMenu 1s forwards;
  padding-top: 0;
  transition: 0.5s;
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }

  /* 50% {
    opacity: 35;
  } */

  100% {
    opacity: 70;
  }
}

/*----------intro----------*/


.intro {
  min-height: 920px;
  background: rgba(5, 36, 49, 1);
  background: url(../img/top-bg.jpg) center top no-repeat;
  background-size: cover;
  margin-top: -60px;
  padding-top: 130px;
  margin-top: -72px;
}

.online-course__course {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 500;
  letter-spacing: 2.3px;
  color: #fff;
  text-transform: uppercase;
}

.intro-title {
  margin-top: 20px;
}

.intro-title__main {
  display: block;
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  line-height: 80px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #fff;
}

.intro-title__color {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  line-height: 35px;
  font-weight: 900;
  color: #7EE8FF;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.intro-title__size {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  line-height: 51px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 28px;
}

.online-course__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 50px;
}

.author {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.author__author {
  color: #fff;
  margin-right: 9px;
}

.author__name {
  color: #7EE8FF;
}

.intro-reviews {
  margin-bottom: 73px;
}

.intro-reviews__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #7EE8FF;
  border-radius: 5px;
  padding: 8px 19px;
  transition: 0.3s;
}

.intro-reviews__link:hover {
  box-shadow: 0 0 30px rgb(126 232 255 / 50%);
}

.intro-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.intro-feature {
  margin: 0 15px;
  margin-bottom: 20px;
}

.intro-feature_1 {
  width: 168px;
}

.intro-feature_2 {
  width: 196px;
}

.intro-feature_3 {
  width: 244px;
}

.intro-feature_4 {
  width: 234px;
}

.intro-feature__icon {
  margin-left: 2px;
  margin-bottom: 8px;
}

.intro-feature__info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;
}


/*----------level----------*/

.level {
  position: relative;
  background-color: #061D27;
  padding-top: 110px;
  padding-bottom: 100px;
}

.level-info__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  line-height: 61px;
  font-weight: 700;
  color: #B1BDCA;
  margin-bottom: 11px;
}

.level-info__desc {
  margin: 0;
  max-width: 949px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  line-height: 39px;
  font-weight: 400;
  color: #B1BDCA;
  margin-bottom: 50px;
}

/* Слайдер level-slider */

.owl-carousel {
  list-style: none;
}

.level-owl-carousel.owl-theme .owl-nav {
  min-width: 126px;
  position: absolute;
  top: -112px;
  right: 360px;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: transparent;
}

.owl-carousel .owl-nav button.owl-next {
  margin-left: 55px;
}



/*----------learn----------*/

.learn {
  background-color: #052431;
  padding: 100px 0 80px;
}

.learn__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  line-height: 61px;
  font-weight: 700;
  color: #B1BDCA;
  margin-bottom: 49px;
}

.learn__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.learn-item {
  width: calc(25% - 30px);
  margin: 0 15px 20px;
}

.learn-item__img {
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}

.learn-item__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  line-height: 31px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 6px;
}

.learn-info {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 23px;
  font-weight: 400;
  color: #B1BDCA;
}

/*----------presentation----------*/

.presentation {
  background-image: url(../img/presentation-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 181px;
  padding-bottom: 130px;
}



.presentation-course {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 37px;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid #7EE8FF;
  padding: 8px 19px;
  margin-bottom: 6px;
}

.presentation-title {
  margin-top: 25px;
}

.presentation-title__main {
  display: block;
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  line-height: 80px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #fff;
}

.presentation-title__color {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  line-height: 35px;
  font-weight: 900;
  color: #7EE8FF;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.presentation-title__size {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  line-height: 51px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 29px;
}

.presentation__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.3rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 50px;
}


/*----------trick----------*/

.trick {
  background-color: #052431;
  padding-top: 100px;
  padding-bottom: 50px;
}

.trick__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  line-height: 61px;
  font-weight: 700;
  color: #B1BDCA;
  margin-bottom: 54px;
}

.trick__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.trick-item {
  width: calc(33.33% - 30px);
  margin: 0 15px 60px;
}

.trick-item__icon {
  margin-left: 2px;
  margin-bottom: 8px;
}

.trick-item__info {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
}

.trick-item__info_add {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 23px;
  font-weight: 400;
  color: #B1BDCA;
  margin-top: 7px;
}


/*----------Кнопка Наверх----------*/

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 75px;
  cursor: pointer;
  display: none;
  background: #15293e;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #FFC700;
  border-radius: 50%;
  z-index: 10;
}

#toTop:hover {
  background: #FFC700;
  color: #101F2E;
}

#toTop:focus,
#toTop:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*----------Адаптив----------*/

@media only screen and (max-width: 1700px) {

  .level-info__desc {
    margin-bottom: 80px;
  }

  .level-owl-carousel.owl-theme .owl-nav {
    position: absolute;
    top: -83px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 991px) {

  body.lock {
    overflow: hidden;
  }

  .header::before {
    background: rgba(5, 36, 49, 0.9);
  }

  .header {
    padding-top: 0;
  }

  .header__burger {
    position: relative;
    display: block;
    min-width: 30px;
    height: 20px;
    z-index: 5;
    order: 2;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: 0.3s;
  }

  .header__burger::before {
    top: 0;

  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
    transition: 0.3s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(5, 36, 49, 0.7);
    padding-top: 70px;
    padding-bottom: 10px;
    overflow: auto;
    transition: 0.5s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__link {
    display: block;
    padding: 3px;
    padding-left: 1.5rem;
  }

  .nav-order {
    margin-left: auto;
    margin-right: 15px;
  }

  .intro-feature {
    width: calc(50% - 30px);
  }

}



@media only screen and (max-width: 880px) {
  .intro {
    background: url(../img/top-bg-mobile.jpg) center top no-repeat;
  }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 410px) {

  .header__body {
    flex-wrap: nowrap;
  }

  .header__logo img {
    max-width: 90%;
  }

  .nav-order {
    font-size: 14px;
    padding: 0px 12px;
  }

  .level-slider {
    max-width: 90%;
    margin: 0 auto;
  }
}